<!--<!DOCTYPE html>-->


<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Редактирование пользователя</title>-->
<!--</head>-->
<!--<body>-->
<!--<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #3C3F42">-->
<!--    <div class="container-fluid">-->
<!--        <div class="navbar-brand" th:text="${user.getName()} + ' with roles: ' + ${user.getRoleNames()}"></div>-->
<!--        <div class="navbar-nav ms-auto mb-2 mb-lg-0">-->
<!--            <a style="color: #808080" th:href="@{/logout}" class="nav-link">Logout</a>-->
<!--        </div>-->
<!--    </div>-->
<!--</nav>-->


<!--<form th:method="PATCH" th:action="@{/admin/users/{id} (id = ${user.getId()})}" th:object="${user}">-->

<!--    <label for="name"> Измените имя: </label>-->
<!--    <input type="text" th:field="*{name}" id="name" />-->
<!--    <br/>-->

<!--    <label for="surname"> Измените фамилию: </label>-->
<!--    <input type="text" th:field="*{surname}" id="surname" />-->
<!--    <br/>-->

<!--    <label for="age"> Измените возраст: </label>-->
<!--    <input type="number" th:field="*{age}" id="age"/>-->
<!--    <br/>-->

<!--    <label for="password"> Пароль: </label>-->
<!--    <input type="password" th:field="*{password}" id="password" />-->
<!--    <br/>-->

<!--    <label for="role"> Роль: </label>-->
<!--    <select name="role" id="role">-->
<!--        <option>ROLE_ADMIN</option>-->
<!--        <option>ROLE_USER</option>-->
<!--    </select>-->
<!--    <br/>-->

<!--    <input type="submit" value="Внести изменения в данные пользователя"/>-->

<!--</form>-->

<!--<form th:action="@{/logout}" method="post">-->
<!--    <input type="submit" value="Logout">-->
<!--</form>-->

<!--</body>-->
<!--</html>-->